[Unit]
Description=WebDAV file server
Documentation=man:webdavd(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/webdavd /etc/webdavd
LogsDirectory=webdavd
ProtectSystem=full

[Install]
WantedBy=multi-user.target
